In [11]:
import pymysql
import pandas as pd
conn = pymysql.connect(host='nbastats.chp0zhljxmaa.eu-west-1.rds.amazonaws.com', port=3306, user='tpauley', passwd='Rp44906255$1', db='nbastats')

cur = conn.cursor()
query = 'SELECT * FROM nbastats.FANDUEL_DAILY_RW limit 5'

df = pd.read_sql_query(query, conn)
print(df)




cur.close()
conn.close()

                 Name Team   Opp Pos  Mins Salary Points Value
0      Davis, Anthony  NOP  @MIN  PF  37.0  10300   52.8  5.13
1  Westbrook, Russell  OKC  @PHO  PG  36.0  11100   50.3  4.53
2   Cousins, DeMarcus  SAC  @CLE   C  37.0  11100     48  4.33
3       James, LeBron  CLE   SAC  SF  35.0  10200   46.5  4.56
4       Durant, Kevin  OKC  @PHO  SF  36.0  10800   46.1  4.27